<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
</head>
<body>
    {{>navbar}}
    <!-- header Part -->
    {{!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ipsa porro dolore aperiam, similique, ut odit obcaecati est sed consequatur, modi perferendis. Sint possimus error, impedit doloremque nihil eveniet. Dolore.</p> --}}
    <div class="container">
        <div class="row">
            <!-- Right Part -->
            <div class="col-md-12 cd-12 left_header align-items-center">
                <figure>
                    <img class="img-fluid" src="../images/404.png" alt="First slide">
                </figure>
                <p style="font-weight: bold;">{{msg}}</p>
                <a href="/" class="my_a"><button class="btn my-btn">Go Back</button></a>
            </div>
        </div>
    </div>
    <!-- Footer Part -->
    {{>footer}}
</body>
</html>