<html lang="en">
<head>
    {{>links}}
</head>
<body>
    {{>navbar}}
    <!-- header Part -->
    <div class="container">
        <div class="row">
            <!-- Right Part -->
            <div class="col-md-6 cd-12 right_header">
                <figure>
                    <img class="img-fluid" src="./images/boy.png" alt="First slide">
                </figure>
            </div>
            <!-- Left Part -->
            <div class="col-md-6 cd-12 left_header">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta beatae quos, alias cumque culpa recusandae deleniti aspernatur, incidunt voluptates commodi dolores! Quo, aspernatur cumque. Ab ex optio atque! Earum labore ullam consequatur provident est asperiores porro adipisci illum fugiat itaque impedit temporibus natus alias unde fugit mollitia quae, nisi quo perspiciatis delectus ipsum nemo vero sint! Ex alias excepturi necessitatibus non amet deserunt! Voluptatum neque animi dicta vitae quis deserunt, dolores, soluta dignissimos, expedita consequatur explicabo consequuntur modi quibusdam impedit?</p> 
            </div>
        </div>
    </div>
    <!-- Footer Part -->
    {{>footer}}
</body>
</html>